<% wrap_layout :layout do %>

  <article class='article-detail'>

  <h4 class='detail-post-date'><%= date %></h4>
    <h2 class='detail-post-title'><%= title %></h2>
    <section class='tag-list-section'>
      <% current_page.tags.each do |tag| %>
        <% unless tag == current_page.tags.last %>
          <%= add_link_tag(tag) %>
          <%= "<span class='tag-list-link'> |</span>" %>
        <% else tag == current_page.tags.last %>
          <%= add_link_tag(tag) %>
        <% end %>
      <% end %>
    </section>

    <% if soundcloud_id %>
      <section class='soundcloud-player-big'>
        <iframe 
          width="100%" 
          height="450" 
          scrolling="no" 
          frameborder="no" 
          src=<%= big_soundcloud_player %>>
        </iframe>
      </section>
    <% end %>

    <!--<% if interviewee %>
      <h3 id='other-episodes'>Other Episodes</h3>
      <a class='other-episodes' href="/tags/<%= dasherize(interviewee) %>"><%= interviewee %></a>
    <% end %>
    -->
  
    <%= current_article.body %>
  
  </article>

<% end %>
