<header>
  <div id="logo">
    <% link_to '/' do %><%= image_tag 'Inverted-Abstract-Logo.png', alt: 'Logo cube' %><% end %>
  </div>
  <nav class="navigation">
  <ul class="nav-list">
    <li><%= link_to 'fork!', 'https://github.com/vis-kid/betweenscreens' %></li>
    <li><%= link_to 'about', '/pages/about.html' %></li>
    <li><%= link_to 'design', '/design.html' %></li>
    <li><%= link_to 'code', '/code.html' %></li>
  </ul>
  </nav>
</header>
